.custom-btn {
  padding: 1.2rem 1rem;
  background-color: var(--color-grey);
  color: #fff;
  font-size: 2rem;
  text-transform: capitalize;
  border-radius: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;

  &:hover {
    color: var(--color-grey);
    background-color: #fff;
  }

  &.googleSignIn {
    background-color: rgb(56, 136, 228);
    border: 2px outset rgb(56, 136, 228);
    color: #fff;

    &:hover {
      background-color: transparent;
      color: rgb(56, 136, 228);
    }
  }

  &.stretch {
    width: 100%;
  }
}
