.menu-item {
  grid-column: span 2;
  height: 25rem;
  border: 1px solid var(--color-grey);
  border-radius: 5px;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
  transition: all 5s;

  display: flex;
  justify-content: center;
  align-items: center;

  &.large {
    height: 35rem;
  }

  &:last-child,
  &:nth-last-child(2) {
    grid-column: span 3;
  }

  &:hover {
    background-size: 120%;
  }

  &:hover .content {
    background-color: rgba(#fff, 0.9);
    box-shadow: 0 2rem 2rem rgba(#000, 0.3);
  }
}

.content {
  padding: 3rem;

  border-radius: 5px;
  text-align: center;
  background-color: rgba(#fff, 0.5);
  transition: all 0.3s;

  h1 {
    font-weight: 300;
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  span {
    font-weight: 700;
    font-size: 2rem;
  }
}
